{% extends 'base.html' %}

{% block content %}


<div class="card text-center">
    <div class="card-header">
        <h5 class="card-title">{{ movie.title }} ({{ movie.released }})</h5>
    </div>
    <div class="card-body">
        {% if movie.image %}}
            <img class="" src="{{ movie.image.url }}" alt="Card image cap" style="border: 2px solid black">
        {% endif %}
        <p class="card-text text-left">{{ movie.description }}</p>
        <!-- Button for add movie to watchlist -->
        <a href="{% url 'watchlist_add_button' %}?movie={{ movie.id }}" class="btn btn-primary">Přidat do watchlistu</a>
    </div>
</div>
<div class="card-footer text-muted">
    Recenze:
    {% for review in reviews %}
    <div class="card">
        <div class="card-header">
            Autor: {{ review.user.username }} ({{ review.created|date:'H:i:s M d, Y' }})
        </div>
        <div class="card-body">
            <p class="card-text">{{ review.text }}</p>
            Hodnocení: <p class="card-text">{{ review.rating }}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}