{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-header text-center">
        <h2 class="h2">Profil</h2>
    </div>
    <div class="card-body">
        <h5 class="card-title">Informace o uživateli</h5>
        <p class="card-text">Jméno: {{ user.username }}</p>
        <p class="card-text">Email: {{ user.email }}</p>
        {% if user.is_staff == 1 %}
            <p class="card-text">Role: Admin</p>
        {% else %}
            <p class="card-text">Role: Uživatel</p>
        {% endif %}
        {% if user.is_active %}
            <p class="card-text">Stav: <span style="color: green">Aktivní</span></p>
        {% else %}
        <p class="card-text">Stav: <span style="color: red">Neaktivní</span></p>
        {% endif %}
        <p class="card-text">Poslední přihlašení: {{ user.last_login|date:'H:i:s M d, Y' }}</p>
    </div>
</div>
{% endblock %}

